extends base

block content
    .container-fluid.text-center
        .row.content

            .col-sm-8.text-left
                .outer
                    .center_text
                        h1 Hello, my name is Pablo Eckardt
                        hr
                    .center_text_2
                        h1 Currently working on:
                        ul
                            li Learning Node + React
                            li Building tools for Cyberphysical Systems
                            li Learning about System Administration with my web host
            .col-sm-2.sidenav
                p
                    a(href='https://github.com/PabloEckardt') My Git

                h5  Websites I host
                p
                    a(href='http://sudofindstuff.com') Buy/Sell Computer Hardware |
                    a(href='http://foodcloseto.me') Find Restaurants in ATX!
            //.col-sm-2.sidenav
            //    .well
            //        p ADS
            //    .well
            //        p ADS

